[submodule "imgui"]
	path = ThirdParty/imgui
	url = https://github.com/mozahzah/imgui.git
[submodule "rtmidi"]
	path = ThirdParty/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "ThirdParty/rapidyaml"]
	path = ThirdParty/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
